@import "@fontsource-variable/red-hat-mono";
@import "@fontsource-variable/outfit";
@import "@fontsource/borel";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 0deg 0% 99%;
    --secondary: 0deg 0% 13%;
    --tertiary: 0deg 0% 51%;
    --accent: 0deg 0% 39%;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --primary: 0deg 0% 0%;
      --secondary: 0deg 0% 93%;
      --tertiary: 0deg 0% 45%;
      --accent: 0deg 0% 71%;
    }
  }
}

@layer components {
  .prose img {
    @apply transition-transform hover:scale-[98%] active:scale-[200%];
  }
}
