@import "@fontsource-variable/inter";
@import "@fontsource-variable/red-hat-mono";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 60deg 3.03% 93.53%;
    --secondary: 60deg 5.56% 7.06%;
    --tertiary: 45deg 5.13% 30.59%;
    --accent: 60deg 2.44% 83.92%;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --primary: 60deg 3.03% 6.47%;
      --secondary: 60deg 5.56% 92.94%;
      --tertiary: 45deg 5.13% 69.41%;
      --accent: 60deg 2.44% 16.08%;
    }
  }
}
