---
import Layout from "@layouts/Layout.astro";
import { CV } from "@consts";
import Work from "@components/Work.astro";
import Education from "@components/Education.astro";
import Skills from "@components/Skills.astro";
import { Icon } from "astro-icon/components";
import Link from "@components/Link.astro";
---

<Layout title={CV.TITLE} description={CV.DESCRIPTION}>
  <section>
    <div
      class="flex flex-col items-start justify-between gap-6 md:flex-row md:items-center"
    >
      <h1 class="animate-reveal text-2xl font-semibold break-words opacity-0">
        Troy Lusty
      </h1>
      <div
        class="text-tertiary mt-4 flex flex-col items-start gap-2 md:flex-row"
      >
        <div class="animate-reveal flex items-center gap-2 opacity-0">
          <div
            class="text-tertiary hover:text-accent flex flex-row items-center gap-2 transition-colors"
          >
            <Icon name="mdi:email" />
            <Link href="mailto:hello@troylusty.com">
              <p>hello@troylusty.com</p>
            </Link>
          </div>
          <div
            class="text-tertiary hover:text-accent flex flex-row items-center gap-2 transition-colors"
          >
            <Icon name="mdi:web" />
            <Link href="/">
              <p>troylusty.com</p>
            </Link>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="animate-reveal opacity-0 [animation-delay:0.1s]">
    <h2 class="mb-4 text-2xl font-semibold break-words capitalize">About me</h2>
    <p class="mb-2">
      Hi, my name is Troy and I’m a student 3D artist studying on a BA (Hons)
      Game Arts and Design course in the UK.
    </p>
    <p class="mb-2">
      In 2019 I began experimenting with Blender after having used various 2D
      art applications such as Adobe Photoshop for over 5 years. After making
      this change, I realised that I have a huge interest in creating 3D
      graphics for video games and TV. At the moment I am working on expanding
      my skillset to encompass other areas with a focus on lighting and
      rendering techniques in relation to environment art.
    </p>
    <p class="mb-2">
      My current portfolio of work can be found on my website at:
      <a
        class="text-secondary decoration-tertiary underline decoration-wavy"
        href="/projects">troylusty.com/projects</a
      >.
    </p>
  </section>
  <section class="animate-reveal opacity-0 [animation-delay:0.2s]">
    <h2 class="mb-4 text-2xl font-semibold break-words capitalize">
      Education
    </h2>
    <Education />
  </section>
  <section class="animate-reveal opacity-0 [animation-delay:0.3s]">
    <h2 class="mb-4 text-2xl font-semibold break-words capitalize">Skills</h2>
    <p class="mb-4">
      My specific chosen area of focus is design, lighting, and rendering
      focusing on 3D environments within software such as Blender and Unreal
      Engine. Using either real-time or offline rendering techniques. In
      addition to this I am also very interested in web development, with this
      site's <Link
        class="text-secondary decoration-tertiary underline decoration-wavy"
        href="https://github.com/troylusty/troylusty.com">source code</Link
      > being public.
    </p>
    <Skills />
  </section>
  <section class="animate-reveal opacity-0 [animation-delay:0.4s]">
    <h2 class="mb-4 text-2xl font-semibold break-words capitalize">
      Experience
    </h2>
    <Work />
  </section>
</Layout>
