---
import Layout from "@layouts/Layout.astro";
import { HOME } from "@consts";
import { getCollection } from "astro:content";
import ShowcaseProject from "@components/ShowcaseProject.astro";
import ShowcasePost from "@components/ShowcasePost.astro";
import Hero from "@components/Hero.astro";
import Button from "@components/Button.astro";

const allPosts = await getCollection("posts");

const posts = allPosts
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, HOME.HOMESETTINGS?.NUM_POSTS_ON_HOMEPAGE);

const allProjects = await getCollection("projects");

const projects = allProjects
  .filter((project) => !project.data.draft && project.data.featured)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, HOME.HOMESETTINGS?.NUM_PROJECTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Hero />
  <section aria-labelledby="featured-projects">
    <div class="group flex w-fit flex-row items-center">
      <a href="/projects">
        <h2
          class="animate-reveal group-hover:text-tertiary text-2xl font-semibold break-words capitalize opacity-0 transition-colors duration-500"
          id="featured-projects"
        >
          Featured projects
        </h2>
      </a>
    </div>
    <ol
      class="animate-reveal mt-8 grid grid-cols-1 gap-4 opacity-0 [animation-delay:0.1s] md:grid-cols-2"
    >
      {projects.map((project) => <ShowcaseProject collection={project} />)}
    </ol>
    {
      allProjects.length > HOME.HOMESETTINGS!.NUM_PROJECTS_ON_HOMEPAGE ? (
        <div class="flex justify-center">
          <Button href="/projects" link="View all" />
        </div>
      ) : null
    }
  </section>
  <section aria-labelledby="recent-posts">
    <div class="group flex w-fit flex-row items-center">
      <a href="/posts">
        <h2
          class="animate-reveal group-hover:text-tertiary text-2xl font-semibold break-words capitalize opacity-0 transition-colors duration-500 [animation-delay:0.2s]"
          id="featured-projects"
        >
          Recent posts
        </h2>
      </a>
    </div>
    <ol
      class="animate-reveal mt-8 grid grid-cols-1 gap-6 opacity-0 [animation-delay:0.3s]"
    >
      {posts.map((post) => <ShowcasePost collection={post} />)}
    </ol>
    {
      allPosts.length > HOME.HOMESETTINGS!.NUM_POSTS_ON_HOMEPAGE ? (
        <div class="flex justify-center">
          <Button href="/posts" link="View all" />
        </div>
      ) : null
    }
  </section>
</Layout>
