---
type Props = {
  href: String;
  link: String;
};

const { href, link } = Astro.props;
---

<a href={`${href}`}>
  <div
    class="animate-reveal bg-tertiary text-primary hover:bg-accent m-4 flex w-fit flex-row items-center gap-1 justify-self-center rounded-full px-2 py-1 text-center text-sm font-medium text-nowrap capitalize opacity-0 transition-colors [animation-delay:0.1s]"
  >
    {link}
  </div>
</a>
