---
import { SITE } from "@consts";
---

<footer class="w-full">
  <span class="text-tertiary"
    >&copy; {new Date().getFullYear()}
    <a href="/" class="hover:text-secondary transition-colors duration-300"
      >{SITE.TITLE}</a
    >. All rights reserved.
  </span>
</footer>
