---
import { SITE } from "@consts";
import { Icon } from "astro-icon/components";
---

<header class="mx-auto mb-8 w-full max-w-prose space-y-6">
  <div
    class="flex h-12 items-center justify-between leading-[0px] text-secondary"
  >
    <a class="inline-flex items-center" href="/" title={SITE.TITLE}>
      <Icon name="icon" title={SITE.TITLE} class="h-8 w-auto ease-in-out" />
      <div
        class="ml-2 hidden flex-none text-sm font-bold capitalize md:visible lg:block"
      >
        Troy Lusty
      </div>
    </a>
  </div>
</header>
