<section class="flex flex-col gap-6">
  <h1
    class="animate-reveal flex w-full flex-col text-start text-7xl leading-[1] font-semibold tracking-[-2px] lowercase opacity-0"
  >
    <span class="text-nowrap">Troy Lusty</span>
    <span class="text-tertiary text-pretty">Digital Designer</span>
  </h1>
  <div
    class="text-secondary/70 animate-reveal text-lg font-medium opacity-0 [animation-delay:0.1s]"
  >
    I am in my final year of studying on a Game Arts and Design BA (Hons) degree
    and on the side I manage online operations for a family run
    <a
      href="/projects/camouflage-store"
      class="underline decoration-2 underline-offset-2 hover:no-underline"
      >outdoor apparel business</a
    >.
  </div>
  <div
    class="text-tertiary animate-reveal text-lg font-medium opacity-0 [animation-delay:0.2s]"
  >
    Think I could help with a project you're working on?
    <a
      href="mailto:hello@troylusty.com"
      class="ml-1 w-fit rounded-full bg-lime-500/20 px-2 py-1 text-sm text-lime-800 ring ring-lime-500 transition-colors duration-300 hover:bg-lime-500/30 dark:text-lime-200"
    >
      Send me a message
    </a>
  </div>
</section>
