---
import instrument from "@fontsource/instrument-serif/files/instrument-serif-latin-400-normal.woff2?url";
---

<link
  rel="preload"
  as="font"
  type="font/woff2"
  href={instrument}
  crossorigin="anonymous"
/>

<section>
  <div class="mx-auto px-8 py-32">
    <div
      class="animate-reveal mx-auto max-w-xl text-center text-4xl tracking-tight text-balance text-white md:text-6xl"
    >
      <div
        class="text-secondary flex items-center justify-center gap-3 font-semibold"
      >
        Hi, I'm Troy,
        <img
          src="/assets/icon.png"
          class="size-12 rounded-xl md:size-16"
          alt=""
        />
      </div>
      <div class="text-tertiary font-serif font-light tracking-wide italic">
        digital designer.
      </div>
    </div>
  </div>
</section>
